@import '../../../../../styles/common.scss';

.commentAdd {
  .newComment {
    background-color: #fff;
    font-size: 13px;
    margin: 10px;
    width: 97%;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 20px;
  }
}
