@import 'styles/common.scss';
@import 'styles/theme.scss';

.MovieBox {
  width: 16.699em;

  .movieAllWrap {
    display: flex;
    height: 28.634em;
    width: 16.699em;
    padding: 0 6px 0 6px;

    .moviePosterInside {
      height: 28.5em;
      width: 15.675em;
      position: relative;
      cursor: pointer;

      .moviePosterWrap {
        .moviePoster {
          @include bigSize;
          object-fit: cover;
          display: grid;
        }
      }
      .movieRank {
        @include rankIcon;
        position: absolute;
        top: 6px;
        bottom: 6px;
        right: 183.797px;
        left: 6px;
        color: $white;
      }

      .movieInfo {
        height: 5.438em;
        width: 13.05em;
        margin: 5px 10px 0 0;

        .movieTitle {
          font-weight: 500;
          font-size: 16px;
          height: 22px;
          margin: 10px 0 5px 0;
          outline: none;
        }

        .movieDate {
          outline: none;
          padding-bottom: 1px;
          height: 22px;
          padding: 0 0 1px 0;
          color: $grey;
        }

        .movieRate {
          display: flex;
          color: $navy;
          margin-top: 2px;
          height: 12px;

          .iconStar {
            font-size: 12px;
            color: $yellow;
            margin: 0 3px;
          }

          .movieScore {
            color: $yellow;
            font-size: 13px;
          }
        }
        .movieRatio {
          color: $grey;
          font-size: 13px;
          letter-spacing: -0.3px;
          margin: 5px 0 0 0;
        }
      }
    }
  }
}
