@import 'styles/common.scss';
@import 'styles/theme.scss';

.commentBox {
  display: block;
  height: 290px;
  background-color: $lightgrey;
  padding: 20px;
  border-radius: 5px;

  .commentTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleLeft {
      display: flex;
      align-items: center;

      .commentorImage {
        @include smallProfile;
        margin: 10px;
      }

      .commentorId {
        margin: 0 auto;
      }
    }

    .titleRight {
      margin: 10px;
      background-color: $white;
      width: 70px;
      height: 25px;
      border-radius: 20px;
      @include flex-center;

      .commentorStar {
        margin-right: 5px;
      }
    }
  }

  .commentContent {
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;

    p {
      font-size: 16px;
      margin: 10px;
      line-height: 25px;
    }
  }

  .commentIcons {
    display: flex;
    color: $grey;
    margin: 5px 0 5px 10px;
    display: inline-block;

    .thumbsUpWrapper,
    .commentWrapper {
      margin: 20px;

      .thumsUpIcon,
      .commentIcon {
        margin-right: 5px;
      }
    }
  }

  .likeEventContainer {
    .unpushedLike {
      margin: 0 0 5px 10px;
      color: $pink;
      font-weight: normal;
      cursor: pointer;
    }

    .pushedLike {
      width: 60px;
      height: 20px;
      @include flex-center;
      margin-left: 6px;
      color: $pink;
      border-top: 1px solid $lightgrey;
      color: $white;
      background-color: $pink;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.slick-list {
  display: inline-block;
  width: 550px;
  height: 300px;
  line-height: 1.2;

  overflow: hidden;
  text-overflow: ellipsis;
}
