@import '../../../styles/common.scss';

.onesPick {
  display: flex;
  height: 35em;
  width: 90em;
  margin-top: 30px;
  // margin-bottom: 30px;
  // border: solid Red;

  .onesPickHeadWrap {
    display: flex;
    height: 3em;
    width: 82.5em;
    max-height: 3.75em;
    max-width: 82.5em;
    margin-left: 12px;
    // border: solid orange;

    .fakeCover {
      .onesPickHeadCover {
        .onesPickHead {
          display: flex;
          height: 25px;
          width: 55em;
          font-size: 22px;
          font-weight: 700;
          letter-spacing: -0.4;
          margin-left: 8px;
          color: $pink;
          // border: dashed 1px black;
          span {
            color: #000;
          }
        }
      }

      .boxRankingCover {
        height: 30.517em;
        width: 84.438em;
        margin: 1px;
        // border: dashed rgb(255, 0, 149);

        .boxRankingWrap {
          z-index: 1;
          display: flex;
          height: 30.517em;
          width: 84.438em;
          margin-top: 15px;
          bottom: 100px;
          overflow-x: scroll;
          // border: solid blue;

          .blankLeft {
            height: 373.36px;
            width: 6px;
            // border: solid black;
          }

          .blankRight {
            height: 373.36px;
            width: 6px;
            // border: solid black;
          }
        }

        .leftArrow {
        }

        .rightArrow {
        }
      }
    }
  }
}

//2nd li
