@import 'styles/common.scss';

.Signup {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000080;
  z-index: 10000;

  .modalContainer {
    position: absolute;
    width: 375px;
    height: 620px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 32px 20px 48px 20px;
    border-radius: 8px;
    color: $grey;
    font-family: roboto;
    font-size: 15px;
    z-index: 100;
    .close {
      position: absolute;
      font-size: 25px;
      padding: 10px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .gotchapediaLogoCol {
        width: 110px;
        height: 70px;
      }

      .lostPw {
        color: $pink;
      }

      .signupText {
        color: black;
        font-size: 17px;
        font-weight: 900;
        margin: 24px 0;
      }

      .switchSignup {
        color: $pink;
        cursor: pointer;
      }

      .switchLogin {
        color: $pink;
        cursor: pointer;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;

        input {
          background-color: $lightgrey;
          margin: 0 1px 10px 0;
          width: 100%;
          height: 44px;
          padding: 0 12px;
          font-size: 16px;
          caret-color: $pink;
          border-radius: 7px;
        }
        .signupBtn {
          font-size: 17px;
          font-weight: 500;
          height: 44px;
          background-color: $pink;
          color: white;
          border-radius: 7px;
          margin-top: 30px;
        }
        .displayNone {
          display: none;
        }
      }

      .lostPw {
        margin-bottom: 15px;
      }

      .loginText {
        margin-top: 20px;
      }
      .or {
        position: relative;
        text-align: center;
        width: 100%;
        margin: 24px 0;
        &::after {
          content: 'OR';
          display: inline-block;
          position: relative;
          padding: 0px 14px;
          color: #bdbcbc;
          background-color: white;
          vertical-align: middle;
          font-size: 14px;
          font-weight: 400;
        }
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0px;
          width: 100%;
          border-top: 1px solid #bdbcbc;
        }
      }
      .kakaoBtn {
        width: 100%;
        height: 44px;
        margin: 7px 0;
        padding: 0;
        font-size: 16px;
        border-radius: 7px;
        background-color: #fae100;
        cursor: pointer;

        .forBalanceKakao {
          height: 44px;
          margin-right: 120px;

          .kakaoLogo {
            height: 40px;
            width: 40px;
            margin-right: 20px;
          }

          .kakaoText {
            margin-top: 15px;
            position: absolute;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }

      .googleBtn {
        width: 100%;
        height: 44px;
        margin: 7px 0;
        padding: 0;
        font-size: 16px;
        border-radius: 7px;
        background-color: #558af6;
        border-radius: 5px;
        border: 1px solid #cbccd0;
        border-radius: 5px;
        cursor: pointer;

        .forBalanceGoogle {
          height: 44px;
          margin-right: 120px;

          .googleLogo {
            margin: 2px 20px 0 0;
            height: 38px;
            width: 38px;
          }

          .googleText {
            margin-top: 15px;
            position: absolute;
            font-size: 16px;
            font-weight: 700;
            color: white;
            font-weight: 700;
          }
        }
      }
    }
  }
}
