@import 'styles/common.scss';
@import 'styles/theme.scss';

.MovieDetailPage {
  display: flex;
  flex-direction: column;

  .MovieHeaderWrapper {
    border: 1px solid $lightgrey;
  }

  .MovieContentWrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #eee;
  }
}
