@import '../../../../styles/common.scss';

.GalleryBoxWrapper {
  // @include flex-center;
  // display: flex;
  .GalleryWrapper {
    .slick-list {
      // width: 300px;
      height: 111px;
    }
  }

  // background-color: red;
  img {
    display: flex;
    width: 132px;
    height: 110px;
  }
}
