@import '../../../../styles/common.scss';

.castingContentList {
  display: flex;
  margin: 10px;
  border-bottom: 1px solid #ddd;

  .castingImage {
    @include mediumProfile;
    margin: 10px;
    overflow: hidden;
    .castingImg {
      object-fit: cover;
      width: 3.5em;
      height: 3.5em;
    }
  }

  .profileDetail {
    margin: auto 0;

    .castingName {
      margin-bottom: 5px;
    }

    .castingRole {
      color: $grey;
    }
  }
}

.slick-prev:before,
.slick-next:before {
  color: #ddd !important;
}
