@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Roboto:wght@400;500&display=swap');

* {
  text-decoration: none;
  box-sizing: border-box;
}

html {
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

/* color */
$pink: #ff006d;
$grey: #74747b;
$lightgrey: #f8f8f8;
$yellow: #ffa136;
$lightyellow: #ffdd64;

/* profile img size */
@mixin smallProfile {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

@mixin mediumProfile {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

/* movie detail icons */
@mixin ottIcon {
  width: 1.875em;
  height: 1.875em;
  border-radius: 50%;
}

@mixin rankIcon {
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  text-align: center;
  color: white;
  background-color: #000;
  font-family: roboto;
  font-weight: 900;
  border-radius: 5px;
  opacity: 0.8;
}

/* movie img size */

@mixin mainSize {
  max-width: 12.5rem;
  max-height: 18.75rem;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

@mixin bigSize {
  width: 200px;
  height: 300px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

@mixin mediumSize {
  width: 10.1em;
  height: 14.6em;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

@mixin smallSize {
  width: 7.4em;
  height: 10.8em;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

button,
input {
  outline: none;
  border: none;
}

/* flex 적용하고 싶은  */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaceBetween-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: #ddd !important;
}
