@import '../../../../styles/common.scss';

.VideoBox {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;

  .videoWrapper {
    padding: 10px;

    .videoContents {
      position: relative;

      .video {
        width: 138px;
        height: 89px;
        padding: 10px 0px;
        border: 1px solid #bebebe;
        border-radius: 5px;
      }

      .playIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #fff;

        &:hover {
          color: $pink;
          color: pointer;
        }
      }
    }
  }
}
