@import '../../../styles/common.scss';

.MovieContent {
  display: inline-block;
  width: 640px;
  // min-width: 1023px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(227, 227, 227);
  margin-right: 20px;

  .predictStar {
    .predictHeading {
      font-size: 19px;
      font-weight: bold;
      padding: 10px 0 10px 10px;
    }
    .predictContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;

      p {
        padding-left: 10px;
        color: $grey;
      }

      div {
        @include flex-center;

        img {
          width: 30px;
          height: 30px;
          margin: 10px;
          border-radius: 3px;
        }
      }
      border-bottom: 1px solid #eee;
    }
  }

  .normalInfo {
    .infoHeading {
      display: flex;
      justify-content: space-between;
      font-size: 19px;
      font-weight: bold;
      padding: 10px 0 10px 10px;

      span {
        color: $pink;
        font-size: 16px;
        font-weight: normal;
        padding-right: 10px;
      }
    }
    .infoContent {
      font-size: 15px;
      padding: 10px;
      .contentHeading {
        margin-bottom: 5px;
      }
      .contentInfo {
        margin-bottom: 5px;
      }
      .contentTime {
        margin-bottom: 5px;
      }
      .detailContent {
        margin-bottom: 5px;
      }
      margin-bottom: 10px;
      border: 1px solid #eee;
    }
  }
  .directorAndActor {
    .dnaHeading {
      font-size: 19px;
      font-weight: bold;
      padding: 10px 0 10px 10px;
    }
    .dnaContent {
      .dnaContentList {
        display: flex;
        align-items: center;
        img {
          @include mediumProfile;
          margin: 10px;
        }
        .profileDetail {
          .name {
            margin-bottom: 5px;
          }
          .role {
            color: $grey;
          }
        }
      }
    }
  }

  .commentWrapper {
    .commentHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 19px;
      font-weight: bold;
      padding: 10px 0 10px 10px;

      .headingLeft {
        span {
          font-size: 15px;
          color: $grey;
        }
      }

      span {
        color: $pink;
        font-size: 16px;
        font-weight: normal;
        padding-right: 10px;
      }
    }

    .commentBoxWrapper {
      display: flex;

      .commentBox {
        display: flex;
        flex-direction: column;
        width: 294px;
        height: 295px;
        background-color: #eee;
        margin: 10px;
        border-radius: 5px;

        .commentTitle {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .titleLeft {
            display: flex;
            align-items: center;
            // padding: 10px;
            img {
              @include smallProfile;
              margin: 10px;
            }
            .writerId {
              margin: 0 auto;
            }
          }
          .titleRight {
            margin: 10px;
            background-color: #fff;
            width: 70px;
            height: 25px;
            border-radius: 20px;
            @include flex-center;

            .writerStar {
              margin-right: 5px;
            }
          }
        }
        .commentContent {
          width: 270px;
          height: 170px;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;

          p {
            font-size: 16px;
            margin: 10px;
            line-height: 25px;
          }
        }

        .commentIcons {
          display: flex;
          color: $grey;
          // margin: 10px;
          margin: 5px 0 5px 0;

          .thumbsUpWrapper {
            margin: 10px;

            .thumsUpIcon {
              margin-right: 5px;
            }
          }

          .commentWrapper {
            margin: 10px;

            .commentIcon {
              margin-right: 5px;
            }
          }
        }

        .like {
          color: $pink;
          font-size: 15px;
          padding: 5px 10px;
          border-top: 1px solid #ddd;
        }
      }
    }
  }
}
