@import 'styles/common.scss';

.MovieContentWrapper {
  .hiddenComment {
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    height: 74px;
    padding: 20px;

    .commentSuggestion {
      margin: 0 10px;
    }

    button {
      width: 224px;
      height: 40px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #fff;
      font-weight: normal;
      margin: 0 10px;
      cursor: pointer;
    }
  }

  .MovieContent {
    width: 640px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 30px;

    .hiddenComment {
      width: 100%;
      display: flex;
      justify-content: space-around;
      border-radius: 5px;

      .commentSuggestion {
        font-size: 15px;
      }

      button {
        font-size: 17px;
        font-weight: bold;
      }
    }

    .movieContentBox {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      border: 1px solid #ddd;

      .predictStar {
        .predictHeading {
          font-size: 19px;
          font-weight: bold;
          padding: 10px 0 10px 10px;
        }

        .predictContent {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 15px;
          border-bottom: 1px solid #eee;

          p {
            padding-left: 10px;
            color: $grey;
          }

          div {
            @include flex-center;

            img {
              width: 30px;
              height: 30px;
              margin: 10px;
              border-radius: 5px;
            }
          }
        }
      }

      .normalInfo {
        .infoHeading {
          display: flex;
          justify-content: space-between;
          font-size: 19px;
          font-weight: bold;
          margin: 10px 0 0 0;
          padding: 10px 0 10px 10px;

          span {
            color: $pink;
            font-size: 16px;
            font-weight: normal;
            padding-right: 10px;
            cursor: pointer;
          }
        }

        .infoContent {
          font-size: 15px;
          padding: 10px;
          border-bottom: 1px solid #ddd;

          .contentHeading {
            margin: 10px 0;
          }

          .contentInfo {
            margin: 10px 0;
          }

          .contentTime {
            margin: 10px 0;
          }

          .detailContent {
            margin: 10px 0 0 0;
            width: 100%;
            height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      .castingWrapper {
        .castingHeading {
          font-size: 19px;
          font-weight: bold;
          padding: 10px 0 10px 10px;
          margin-top: 10px;
        }

        .castingContent {
          display: flex;
          justify-content: center;
          height: 300px;
          padding: 10px;
        }
      }

      .commentWrapper {
        .commentHeading {
          display: flex;
          justify-content: space-between;
          align-items: center;

          font-size: 19px;
          font-weight: bold;
          padding: 10px 0 10px 10px;

          .headingLeft {
            span {
              font-size: 15px;
              color: $grey;
              cursor: pointer;
            }
          }

          span {
            color: $pink;
            font-size: 16px;
            font-weight: normal;
            padding-right: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.displayNone {
  display: none;
}
