@import '../../styles/common.scss';

.MyPage {
  .header {
    height: 30px;

    .headerArrow {
      margin: 15px 20px 5px 20px;
      font-size: 20px;
      font-weight: normal;
      color: $pink;
    }

    .headerName {
      margin: 10px 20px;
      font-size: 22px;
      font-weight: bold;
    }
  }
  section {
    margin: 30px 20px;
    border-bottom: 1px solid #ececec;
    
    .sectionHeader {
      @include flex-spaceBetween-center;
      height: 48px;

      span {
        margin-left: 15px;
        font-size: 18px;
        font-weight: 900;
      }

      .sectionCount {
        margin-left: 5px;
        font-size: 16px;
        font-weight: 400;
        color: #999898;
      }

      .headerRight {
        color: $pink;
        margin-right: 15px;
      }
    }
    .movieList {
      display: flex;
      height: 300px;
      padding: 10px 15px;
      margin-bottom: 20px;
      overflow-x: scroll;

      .movieBox {
        margin: 5px;

        .posterWrapper {
          @include mediumSize;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .movieTitle {
          width: 141px;
          height: 16px;
          margin-top: 5px;
          color: #292a32;
          font-size: 15px;
          font-weight: 800;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .movieScore {
          margin-top: 7px;
          color: $yellow;
          font-size: 13px;
        }
      }
    }
  }
}
