@import '../../../../../styles/common.scss';

.detailHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  height: 5.313em;
  border-bottom: 1px solid #ddd;

  .headingArrow {
    color: $pink;
    font-size: 20px;
    font-weight: normal;
    margin: 0px 20px;
    cursor: pointer;
  }

  .headingTitle {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 20px;
  }
}

.commentBoxWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  .commentBox {
    display: flex;
    flex-direction: column;
    // width: 40em;
    // height: 295px;
    padding: 10px;
    background-color: #eee;
    margin: 10px;
    // padding: 20px;
    border-radius: 5px;

    .commentTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .titleLeft {
        display: flex;
        align-items: center;

        img {
          @include smallProfile;
          margin: 10px;
        }

        .writerId {
          margin: 0 auto;
        }
      }

      .titleRight {
        margin: 10px;
        background-color: #fff;
        width: 70px;
        height: 25px;
        border-radius: 20px;
        @include flex-center;

        .writerStar {
          margin-right: 5px;
        }
      }
    }
    .commentContent {
      // width: 270px;
      // height: 170px;
      width: 100%;
      height: 100%;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      p {
        font-size: 14px;
        margin: 10px;
        line-height: 25px;
      }
    }

    .commentIcons {
      display: flex;
      color: $grey;
      margin: 5px 0 5px 0;

      .thumbsUpWrapper {
        margin: 10px;

        .thumsUpIcon {
          margin-right: 5px;
        }
      }

      .commentWrapper {
        margin: 10px;

        .commentIcon {
          margin-right: 5px;
        }
      }
    }

    .like {
      color: $pink;
      font-size: 14px;
      padding: 5px 10px;
      border-top: 1px solid #ddd;
    }
  }
}
