@import 'styles/common.scss';

.MovieHeaderWrapper {
  .MovieHeaderTop {
    @include flex-center;
    background-color: #eee;
    height: 300px;
    overflow: hidden;
  }

  .MovieHeaderBottom {
    @include flex-center;
    position: relative;
    border-bottom: 1px solid #eee;
    height: 250px;
    padding: 0 8px;

    .posterWrapper {
      display: flex;
      position: absolute;
      width: 769px;
      height: 199px;
      top: -20px;
      img {
        @include mediumSize;
        border: 2px solid #fff;
        object-fit: cover;
      }

      .posterDetailWrapper {
        .posterRanking {
          width: 769px;
          font-size: 13px;
          color: $grey;
          padding: 0 0 10px 25px;
          margin: 0 -4px;

          span {
            color: #eee;
          }
        }

        .posterTitle {
          width: 100%;
          font-size: 25px;
          font-weight: bold;
          padding: 29px 16px 22px;
        }

        .posterTitleDetail {
          font-size: 15px;
          color: $grey;
          margin: 4px 0 0;
          padding: 0 16px 0px;
        }

        .posterRating {
          font-size: 15px;
          color: #eee;
          padding: 0 16px 22px;

          .averageRating {
            font-size: 15px;
            color: #000;
            margin: 14px 0 0;
            padding: 8px 0;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
          }

          .ratingContent {
            display: flex;
            margin-top: 30px;

            .buttonContainer {
              display: flex;
              width: 213px;
              height: 40px;
              margin-right: 40px;

              .wantToSeeWrapper {
                @include flex-center;
                width: 162px;
                background-color: $pink;
                border-radius: 5px 0 0 5px;
                color: #fff;
                font-size: 17px;
                border-width: bold;
                border-right: 1px solid crimson;
                cursor: pointer;

                .plusIconWrapper {
                  padding: 0;

                  .plusIcon {
                    transition: 0.5s;
                    font-size: 17px;
                    margin: 0 20px;
                    &:hover {
                      transform: rotate(60deg);
                      transition: 0.5s;
                    }
                  }
                }

                .wantToSee {
                  display: flex;
                }
              }

              .modalBtnWrapper {
                width: 51px;
                height: 100%;
                background-color: $pink;
                border-radius: 0 5px 5px 0;
                color: #fff;
                cursor: pointer;

                .modalBtn {
                  transition: 0.5s;

                  &:hover {
                    transform: translateY(5px);
                    transition: 0.5s;
                  }
                }
              }
            }

            .starRatingBox {
              margin-top: -10px;
              .ratingTitle {
                font-size: 12px;
                color: $grey;
              }
            }
          }
        }
      }
    }
  }
}

.displayNone {
  display: none;
}
