@import 'styles/common.scss';
@import 'styles/theme.scss';

.CommentWrite {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: bold;
  z-index: 1000000000;

  .modalContainer {
    width: 640px;
    height: 540px;
    background-color: $white;

    .commentHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 11px;
      line-height: 22px;

      .headingX {
        color: $pink;
        cursor: pointer;
      }

      .headingComment {
        color: $lightgrey;
        cursor: pointer;
      }
      .coloredHeadingComment {
        color: $pink;
        cursor: pointer;
      }
    }

    .commentContent {
      border-top: 1px solid $lightgrey;
      .writeComment {
        width: 80%;
        height: 100%;
        padding: 30px 0px 0 20px;
        box-sizing: border-box;

        &::placeholder {
          color: $grey;
          font-size: 17px;
          line-height: 22px;
        }
      }
    }
  }
}
