@import '../../../../styles/common.scss';

.MovieClip {
  width: 318px;
  height: 153px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  overflow: hidden;
  overflow-x: scroll;

  ul {
    display: flex;
    a {
      text-decoration: none;
      color: black;
      font-family: roboto;
      font-size: 15px;

      li {
        @include flex-spaceBetween-column;
        width: 135px;

        margin: 5px;
        .thumbnail {
          position: relative;
          width: 132px;
          height: 90px;
          .playIcon {
            width: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            color: white;
          }
          img {
            width: 132px;
          }
        }
        .videoTitle {
          width: 134px;
          height: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
