@import 'styles/common.scss';
@import 'styles/theme.scss';

.hoverRatingBox {
  display: flex;
  flex-direction: column;

  span {
    margin: 3px 0 0 3px;
  }
}

.MuiBox-root {
  color: $black;
  font-size: 12px;
  margin: 5px;
}

.MuiRating-decimal {
  font-size: 40px;

  .MuiRating-icon {
    margin: 0px;
  }
}
