@import '../../styles/common.scss';

.Footer {
  height: 100%;
  width: 100%;

  .footerHead {
    @include flex-center;
    height: 62px;
    width: 100%;
    background-color: #101113;

    .footerHeadFont {
      text-align: center;
      font-size: 19px;
      letter-spacing: -0.3px;
      font-weight: 500;
      color: #d1d1d2;

      span {
        color: $pink;
      }
    }
  }
  .footerBodyWrap {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px 0 38px 0;
    background-color: #1c1e20;

    .footerBody {
      display: flex;
      margin: 0 29.35px 0 20.35px;

      .footerBodyContents {
        height: 163px;
        width: 1230px;

        .footerBodyService {
          height: 22px;
          color: #a5a5a7;
        }

        .footerBodyContact {
          height: 22px;
          display: flex;
          margin-top: 12px;
          color: #a5a5a7;
        }

        .footerBodyPartner {
          height: 22px;
          color: #a5a5a7;
        }

        .footerBodyOwner {
          height: 22px;
          display: flex;
          margin-top: 13px;
          color: #848485;
        }

        .footerBodyCorNumber {
          height: 22px;
          color: #848485;
        }

        .footerBodyGotcha {
          height: 22px;
          margin-top: 2px;
          color: #848485;
        }
      }

      .footerRightBody {
        height: 168px;
        width: 89px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .footerLang {
          .langButton {
            height: 1.75em;
            width: 7.7em;
            font-size: 15px;
            color: #a5a5a7;
            background-color: #1c1e20;
            border: solid 1px #a5a5a7;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
          }

          .footerSocialLogo {
            display: flex;
            flex-direction: row;
            span {
              .twitterIconWrapper {
                display: inline-block;
                .twitterIcon {
                  color: #848485;
                  // color: #fff;
                }
              }

              .facebookIconWrapper {
                display: inline-block;
                .facebookIcon {
                  font-size: 24px !important;
                  color: #848485;
                }
              }

              .googleIconWrapper {
                display: inline-block;
                .googleIcon {
                  color: #848485;
                  // background-color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
