@import '../../../../styles/common.scss';

// .hiddenComment {
//   // display: none;
//   align-items: center;
//   border: 1px solid #ddd;
//   margin-bottom: 20px;
//   background-color: #fff;
//   height: 64px;

//   .commentSuggestion {
//     margin: 0 10px;
//   }

//   button {
//     width: 224px;
//     height: 40px;
//     border: 1px solid #ddd;
//     border-radius: 5px;
//     background-color: #fff;
//     font-weight: normal;
//     margin: 0 10px;
//     cursor: pointer;
//   }
// }

.commentCrudWrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .commentCrudLeft {
    display: flex;
    align-items: center;
    font-size: 15px;
    .crudProfileImage {
      @include mediumProfile;
      margin-right: 20px;
    }
  }
  .commentBox {
    display: inline-block;
    height: 50px;
  }
  .commentCrudRight {
    display: flex;
    .commentDeleteIcon {
      button {
        background-color: #fff;
      }
    }
    .commentUpdateIcon {
    }
  }
}
