@import '../../../styles/common.scss';

.Signup {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;

  .modalContainer {
    width: 375px;
    background-color: white;
    padding: 32px 20px 48px 20px;
    border-radius: 8px;
    color: $grey;
    font-family: roboto;
    font-size: 15px;

    .close {
      position: absolute;
      font-size: 25px;
      padding: 10px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .gotchapediaLogoCol {
        width: 110px;
        height: 70px;
      }

      .signupText {
        color: black;
        font-size: 17px;
        font-weight: 900;
        margin: 24px 0;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 165px;

        input {
          background-color: $lightgrey;
          margin-bottom: 10px;
          width: 100%;
          height: 44px;
          padding: 0 12px;
          font-size: 16px;
          caret-color: $pink;
          border-radius: 7px;
        }

        .loginBtn {
          font-size: 17px;
          font-weight: 500;
          height: 44px;
          background-color: $pink;
          color: white;
          border-radius: 7px;
        }
      }

      .lostPasswordText {
        color: $pink;
        margin: 20px 0 14px 0;
      }

      .intoSignupText {
        span {
          color: $pink;
        }
      }

      .or {
        position: relative;
        text-align: center;
        width: 100%;
        margin: 24px 0;

        &::after {
          content: 'OR';
          display: inline-block;
          position: relative;
          padding: 0px 14px;
          color: #bdbcbc;
          background-color: white;
          vertical-align: middle;
          font-size: 14px;
          font-weight: 400;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0px;
          width: 100%;
          border-top: 1px solid #bdbcbc;
        }
      }
      button {
        width: 100%;
        height: 44px;
        margin: 7px 0;
        padding: 0;
        font-size: 16px;
        border-radius: 7px;
      }
    }
  }
}
