@import 'styles/common.scss';
@import 'styles/theme.scss';

.MovieSide {
  display: inline-block;
  width: 320px;
  height: 400px;
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $lightgrey;

  .galleryWrapper {
    .galleryHeading {
      font-size: 19px;
      font-weight: bold;
      padding: 15px 0 10px 15px;
    }
  }

  .border {
    border: 1px solid $lightgrey;
    margin: 20px 0 10px 0;
  }

  .videoWrapper {
    .videoHeading {
      font-size: 19px;
      font-weight: bold;
      padding: 15px 0 10px 15px;
    }

    .videoBoxWrapper {
      display: flex;
    }
  }
}
